body{
    background-color: rgb(19, 18, 18);
}


.video { 
        width: 100%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
  }
 
  .btn {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: blue;
    color: white;
    position: relative;
    bottom: 50px;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: lightblue;
}

.btn:active {
    transform: translateY(5px);
}
